:root {
    --cyan-process: #30BCED;
    --jet: #303036;
    --magnolia: #FFFAFF;
    --orange-soda: #FC5130;
    --rich-black: #050401;

    --white: #FFF;
    --white-secondary: #F0F0F0;

    --black: #000;
}

a, #button {
    transition: all 0.1s cubic-bezier(0.23, 0.46, 1, 2.74)
}

header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: var(--cyan-process);
    border-bottom: 10px solid var(--black);
}

nav {
    text-align: right;
}

a::before {
    content: "";
    width: 10px;
    height: 10px;
    margin-right: 10px;
    background-color: var(--orange-soda);
}

a {
    display: inline-flex;
    align-items: center;
    color: var(--white-secondary);
    font-family: "Fira Code", Arial;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a:hover {
    color: var(--white);
}

.button {
    background-color: var(--orange-soda);
    display: inline-block;
    text-align: center;
    line-height: 60px;
    box-shadow: 5px 5px 0px var(--black);
    margin-right: 0;
    padding: 0 20px;
}

.button::before {
    content: none;
}

.button:hover {
    transform: scale(1.05);
}

.banner {
    height: 807px;
    border-bottom: 10px solid var(--black);
    display: flex;
}

.left-area,
.right-area {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}

.left-area {
    width: 68%;
    height: inherit;
    border-right: 5px solid var(--black);
    background-image: url('../assets/backgrounds/leftbg.png');
    display: flex;
    flex-direction: column;
    padding: 115px 90px;
}

.title-area {
    background-color: var(--jet);
    max-width: 630px;
    font-family: "Press Start 2P", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 5px 5px 0px var(--black);
}

h1, h2 {
    margin: 20px;
    text-shadow: 5px 5px 0px var(--black);
}

h1 {
    font-size: 40px;
    color: var(--orange-soda);
}

h2 {
    font-size: 30px;
    color: var(--white);
}

.buttons-area {
    margin-top: 40px;
    max-width: 630px;
    display: flex;
    justify-content: space-evenly;
}

.right-area {
    flex: 1;
    height: inherit;
    background-image: url('../assets/backgrounds/rightbg.png');
}