.banner {
    width: 100%;
    height: 800px;

    border-bottom: 10px solid var(--rich-black);

    display: flex;
    flex-direction: column;

    padding: 115px 90px;

    background-image: url('../../assets/backgrounds/bg.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: right;
}