.banner {
    padding: 115px 90px;
    background-image: url('../../assets/backgrounds/bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}

.-titlebanner, .-subtitlebanner {
    margin: 20px;
    text-shadow: 5px 5px 0px var(--rich-black);
}