:root {
    --cyan-process: #30BCED;
    --jet: #303036;
    --magnolia: #FFFAFF;
    --orange-soda: #FC5130;
    --rich-black: #050401;

    --white: #FFF;
    --white-secondary: #F0F0F0;

    --black: #000;
}