.default-button {
    background-color: var(--orange-soda);
    display: inline-block;
    text-align: center;
    line-height: 60px;
    box-shadow: 5px 5px 0px var(--rich-black);
    margin-right: 0;
    padding: 0 20px;
}

.default-button::before {
    content: none;
}

.default-button:hover {
    transform: scale(1.05);
}