.main-header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: var(--cyan-process);
    border-bottom: 10px solid var(--black);
}