.main-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: var(--cyan-process);
    border-bottom: 10px solid var(--black);
}

.main-header .menuOpener {
    height: 50px;
    width: 50px;
    background-color: var(--orange-soda);
    border-radius: 50%;
    position: absolute;
    display: none;
    left: 75%;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid var(--black);
}

.main-header .menuOpener .sphere {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: var(--black);
    transition: all 200ms linear;
}

.main-header .menuOpener .sphere.-opened {
    border-radius: 0;
    height: 2px;
}

.main-header .navigation.-opened {
    display: flex;    
}

@media only screen and (max-width: 480px) {
    .main-header {
        position: relative;
    }

    .main-header .navigation {
        position: absolute;
        background-color: var(--cyan-process);
        min-width: 100vw;
        min-height: 100vh;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        left: 0;
    }

    .main-header .anchor-links {
        margin: 0;
        font-size: 30px;
    }

    .main-header .menuOpener {
        display: flex;
    }
}