.main-description {
    color: var(--white-secondary);
    font-size: 30px;
    font-family: 'Fira Code';
    font-weight: 300;
    line-height: 1.3;
    padding: 0 100px;
    text-align: left;
    text-shadow: 0px 0px 5px var(--rich-black);
}