.skills-area {
    background-color: var(--orange-soda);
    padding: 50px 0;
}

.skills-area .wrapper {
    width: 430px;
    height: 90px;
    margin-bottom: 40px;

    display: flex;
}

.skillimg {
    margin-right: 20px;
}

.skillinfobox {
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.progressbar {
    width: 320px;
    height: 40px;
    border-radius: 0;
    border: 5px solid var(--rich-black);
}

.progressbar::-webkit-progress-bar {
    background-color: var(--white);
}

.progressbar::-moz-progress-bar {
    background-color: var(--white);
}

.progressbar::-webkit-progress-value {
    background-color: var(--cyan-process);
}

.progressbar::-moz-progress-value {
    background-color: var(--cyan-process);
}