.title {
    font-size: 40px;
    color: var(--orange-soda);
    font-family: "Press Start 2P", sans-serif;
    text-align: center;
}

.subtitle {
    font-size: 30px;
    font-family: "Press Start 2P", sans-serif;
    color: var(--white);
}

.subtitle.-second {
    font-size: 25px;
}

.title.-second {
        color: var(--white);
        margin-bottom: 60px;
}